@import url('https://unpkg.com/leaflet/dist/leaflet.css');

.marker-content {
    background-color: white; 
    padding: 5px;
    border: 1px solid black; 
  }
  .position{
    background-color: white; 
    padding: 5px;
    border: 1px solid black;
  }

  .leaflet-control-container{
    display: none !important;
   
  }
.leaflet-routing-container{
  background-color: aliceblue !important;

}